<div id="groupList-mobile">

    <div id="groupList-mobile-header">
        <h5>Groups</h5>
        <div class="groupList-mobile-header_search">
            <img src="../../../assets/searchIcon.png">
            <input type="text" class="searchFriend" placeholder="Search groups">
        </div>
    </div>

    <div id="groupList-mobile-body">

        <div class="group">
            <img src="../../../assets/g1.jpg">
            <p class="groupName">Gamers Republic</p>
            <p class="groupVisibilityType">Private</p>
            <!-- <div class="groupVisibilityType">
                <span>Private</span>
            </div> -->
        </div>

        <div class="group">
            <img src="../../../assets/g2.jpg">
            <p class="groupName">Psychos</p>
            <p class="groupVisibilityType">Public</p>
            <!-- <div class="groupVisibilityType">
                <span>Public</span>
            </div> -->
        </div>

        <div class="group">
            <img src="../../../assets/g3.jpg">
            <p class="groupName">Slender Group</p>
            <p class="groupVisibilityType">Private</p>
            <!-- <div class="groupVisibilityType">
                <span>Private</span>
            </div> -->
        </div>


        <div class="group">
            <img src="../../../assets/g1.jpg">
            <p class="groupName">Gamers Republic</p>
            <p class="groupVisibilityType">Private</p>
            <!-- <div class="groupVisibilityType">
                <span>Private</span>
            </div> -->
        </div>

        <div class="group">
            <img src="../../../assets/g2.jpg">
            <p class="groupName">Psychos</p>
            <p class="groupVisibilityType">Public</p>
            <!-- <div class="groupVisibilityType">
                <span>Public</span>
            </div> -->
        </div>

        <div class="group">
            <img src="../../../assets/g3.jpg">
            <p class="groupName">Slender Group</p>
            <p class="groupVisibilityType">Private</p>
            <!-- <div class="groupVisibilityType">
                <span>Private</span>
            </div> -->
        </div>

    </div>

</div>