<footer>
    <nav class="footer_nav_large">
        <li class="footer_nav-item"><a>English(UK)</a></li>
        <li class="footer_nav-item"><a>German</a></li>
        <li class="footer_nav-item"><a>Russian</a></li>
        <li class="footer_nav-item"><a>French</a></li>
        <li class="footer_nav-item"><a>Spanish</a></li>
    </nav>

    <select>
        <option value="" selected disabled hidden>Select Language</option>
        <option class="footer_nav-item">English(UK)</option>
        <option class="footer_nav-item">German</option>
        <option class="footer_nav-item">Russian</option>
        <option class="footer_nav-item">French</option>
        <option class="footer_nav-item">Spanish</option>
    </select>

    <span class="footer_copyright">@Social Land 2020</span>
</footer>

<!-- <div>asdzxc</div>   <div>1231132</div> -->