//  ########################### FOOTER #########################################
footer{
  background-color: #f7f7f7;
  position: fixed;
  bottom: 0;
  padding-right: 23px;
  padding-top: 7px;
  width: 100%;
  height: 5vh;
  }
  
  nav{
    font-size: 0.6rem;
  }
  
  .footer_nav_large{
    // display: inline-block;
    float: left; 
    width: 55%;
  }

  .footer_nav_small{
    display: none;
  }
  
    .footer_nav-item{
    color: #8a8d91;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
  
  }

  
  .footer_nav-item:hover{
    text-decoration: underline;
  }
  
  .footer_copyright{
    float: right;
     font-size: 0.6rem;
    color: #8a8d91;
    // margin: 7px 0;
    user-select: none;
  }

  select{
    display: none;
  }

  @media screen and (max-width: 569px){
    .footer_nav_large{
      display: none;
    }

    select{
      display: block;
      float: left;
      width: 24%;
      color: #8a8d91;
      cursor: pointer;
      padding-left: 20px;
      font-size: 11px;
      border: 0;
      min-width: 125px;
    }
  }
  
//  ########################### FOOTER #########################################