<div id="userCreatePost-div">
    <div class="user_img-div">
        <img class="user_img" src="../../assets/noProfile.png">
        <span class="username">Ammar Khan</span>

        <div>
            <select id="postSeenStatus">
                <option value="friends">Friends</option>
                <option value="public">Public</option>
                <option value="family">Family</option>
                <option value="onylme">Only me</option>
                <option value="custom">Custom</option>
            </select>
        </div>
    </div>

    <div class="user_img-textarea">
        <textarea rows="5" cols="80" placeholder="Whats on your mind ?"></textarea>
        <img class="uploadfile-icon" src="../../../assets/uploadfile1.png">
    </div>

    <button class="btn btn-info post-button">Post</button>
</div>

<!-- ########################################################################################## -->

<div id="userPosts-div">
    <div class="user_img-div">
        <img class="post-user_img" src="../../assets/noProfile.png">
        <span class="username">Ammar Khan</span>
        <p class="postTime">
            25m
        </p>
    </div>
    <div class="userPost-body">
        <p>
            No offense
            Every one knows there are better games than pubg
            [Self made]
        </p>

        <div class="likes">
            <div class="like_love">
                <img class="post-liked" src="../../../assets/like.png">
                <img class="post-loved" src="../../../assets/love.png">
                <span class="totalLikes"> 1.4k</span>
            </div>

            <div class="comment_share">
                <img class="post-commented" src="../../../assets/comment.png">
                <span>Comments</span>
                <img class="post-shared" src="../../../assets/share.png">
                <span>Shares</span>
            </div>
        </div>
        <div class="borderBottom"></div>
        <div class="like_comment">
            <div class="likeme">
                <img src="../../../assets/likeme.png">
                <span>Like</span>
            </div>

            <div class="likecomment">
                <img src="../../../assets/commentme.png">
                <span>Comment</span>
            </div>
        </div>

        <div class="comment-box">
            <img class="comment-user_img" src="../../assets/noProfile.png">
            <div class="comment-box-input_div">
                <input type="text" placeholder="Write a comment...">
                <img class="comment-box-emoji" src="../../../assets/emojiIcon.png">
                <img class="comment-box-cam" src="../../../assets/camIcon.png">
            </div>
        </div>

        <div class="topComments-div">
            <select id="topComments">
                <option value="topComments">Top comments</option>
                <option value="recentComments">Recent comments</option>
                <option value="allComments">All comments</option>
            </select>
        </div>

        <div class="comments-div">
            <div>
                <img class="comment-user_img" src="../../assets/noProfile.png">
            </div>

            <div class="comment-body">
                <span class="comment-username">Farhan Ahmed</span>
                <p class="comment">Thank You so much for your support</p>
                <img class="comment-liked" src="../../../assets/like.png">
                <img class="comment-loved" src="../../../assets/love.png">
                <span class="comment-totalLikes">7</span>
            </div>

            <div class="comment-status">
                <span class="comment-like">Like</span>
                <span class="comment-reply">Reply</span>
                -
                <span>2h</span>
            </div>
        </div>

        <div class="comments-div">
            <div>
                <img class="comment-user_img" src="../../assets/noProfile.png">
            </div>

            <div class="comment-body">
                <span class="comment-username">Ali Shah</span>
                <p class="comment">OK</p>
            </div>

            <div class="comment-status">
                <span class="comment-like">Like</span>
                <span class="comment-reply">Reply</span>
                -
                <span>6d</span>
            </div>

            <div class="reply-box">
                <img class="reply-user_img" src="../../assets/noProfile.png">
                
                <div class="reply-input-div">
                    <input type="text" placeholder="Write a reply...">
                    <img class="reply-box-emoji" src="../../../assets/emojiIcon.png">
                    <img class="reply-box-cam" src="../../../assets/camIcon.png">
                </div>
               
            </div>
        </div>
    </div>
</div>


<div id="userPosts-div">
    <div class="user_img-div">
        <img class="post-user_img" src="../../assets/noProfile.png">
        <span class="username">Ammar Khan</span>
        <p class="postTime">
            25m
        </p>
    </div>
    <div class="userPost-body">
        <img class="postImg" src="../../../assets/coastline.jpg">

        <div class="likes">
            <div class="like_love">
                <img class="post-liked" src="../../../assets/like.png">
                <img class="post-loved" src="../../../assets/love.png">
                <span class="totalLikes"> 1.4k</span>
            </div>

            <div class="comment_share">
                <img class="post-commented" src="../../../assets/comment.png">
                <span>Comments</span>
                <img class="post-shared" src="../../../assets/share.png">
                <span>Shares</span>
            </div>
        </div>
        <div class="borderBottom"></div>
        <div class="like_comment">
            <div class="likeme">
                <img src="../../../assets/likeme.png">
                <span>Like</span>
            </div>

            <div class="likecomment">
                <img src="../../../assets/commentme.png">
                <span>Comment</span>
            </div>
        </div>

        <div class="comment-box">
            <img class="comment-user_img" src="../../assets/noProfile.png">
            <input type="text" placeholder="Write a comment...">
            <img class="comment-box-emoji" src="../../../assets/emojiIcon.png">
            <img class="comment-box-cam" src="../../../assets/camIcon.png">
        </div>

        <div class="topComments-div">
            <select id="topComments">
                <option value="topComments">Top comments</option>
                <option value="recentComments">Recent comments</option>
                <option value="allComments">All comments</option>
            </select>
        </div>

        <div class="comments-div">
            <div>
                <img class="comment-user_img" src="../../assets/noProfile.png">
            </div>

            <div class="comment-body">
                <span class="comment-username">Farhan Ahmed</span>
                <p class="comment">Cool!!!</p>
                <div>
                    <img class="comment-loved" src="../../../assets/love.png">
                    <img class="comment-liked" src="../../../assets/like.png">
                    <span class="comment-totalLikes">2</span>
                </div>
            </div>

            <div class="comment-status">
                <span class="comment-like">Like</span>
                <span class="comment-reply">Reply</span>
                -
                <span>2h</span>
            </div>
        </div>
    </div>
</div>