<div class="recentAccountPanel_Big">
    <div class="recentAccBox">
      <p>Add account</p>
      <img src="../../../assets/addAccount.png">
    </div>

    <div class="recentAccBox">
      <p>Add account</p>
      <img src="../../../assets/addAccount.png">
    </div>
 
    <div class="recentAccBox">
      <p>Add account</p>
      <img src="../../../assets/addAccount.png">
    </div>

    <div class="recentAccBox">
      <p>Add account</p>
      <img src="../../../assets/addAccount.png">
    </div>
 </div>

 <div class="recentAccountPanel_Small">
    <div class="recentAccBox">
      <p>Add account</p>
      <img src="../../../assets/addAccount.png">
    </div>
</div>