<div id="friendsList">
    <div class="friend-searchbar">
        <img src="../../../assets/searchIcon.png">
        <input type="text" class="searchFriend" placeholder="Search friend">
    </div>

    <h5>Friends</h5>
    <div class="borderBtm"></div>

    <div class="friendReqCount">3 Friend Requests</div>
    <div class="viewReqTxt">View Sent Requests</div>

    <div id="friendsRequests">
        <div class="request">
            <img src="../../../assets/noProfile.png">

            <div class="request-detail">
                <div class="request-name">
                    <span class="friendReq-name">Salvator</span>
                    <span class="friendReq-time">2w</span>
                </div>

                <div class="request-buttons-bigscreen">
                    <button class="btn btn-primary">Confirm</button>
                    <button class="btn btn-secondary">Delete</button>
                </div>

                <div class="request-buttons-smallscreen">
                    <img src="../../../assets/acceptIconGreen.png">
                    <img src="../../../assets/rejectRedIcon.png">
                </div>
            </div>
        </div>

        <div class="request">
            <img src="../../../assets/noProfile.png">
            <div class="request-detail">
                <div class="request-name">
                    <span class="friendReq-name">Calpino</span>
                    <span class="friendReq-time">2d</span>
                </div>

                <div class="request-buttons-bigscreen">
                    <button class="btn btn-primary">Confirm</button>
                    <button class="btn btn-secondary">Delete</button>
                </div>

                <div class="request-buttons-smallscreen">
                    <img src="../../../assets/acceptIconGreen.png">
                    <img src="../../../assets/rejectRedIcon.png">
                </div>
            </div>
        </div>

        <div class="request">
            <img src="../../../assets/noProfile.png">
            <div class="request-detail">
                <div class="request-name">
                    <span class="friendReq-name">Sony</span>
                    <span class="friendReq-time">15m</span>
                </div>

                <div class="request-buttons-bigscreen">
                    <button class="btn btn-primary">Confirm</button>
                    <button class="btn btn-secondary">Delete</button>
                </div>

                <div class="request-buttons-smallscreen">
                    <img src="../../../assets/acceptIconGreen.png">
                    <img src="../../../assets/rejectRedIcon.png">
                </div>
            </div>
        </div>
    </div>
    <div class="borderBtm"></div>
    <!-- ---------------------------------------------------------- -->
    <h6>People you may know</h6>
    
    <div class="request">
        <img src="../../../assets/noProfile.png">
        <div class="people-detail">
            <div class="peopleSuggested-name">
                <p class="people-name">Aflatoon</p>
                <span class="people-time">2 mutual friends</span>
            </div>

            <div class="people-buttons-bigscreen">
                <button class="btn btn-primary">Add Friend</button>
                <button class="btn btn-primary">Add</button>
                <button class="btn btn-secondary">Remove</button>
            </div>

            <!-- <div class="request-buttons-smallscreen">
                <img src="../../../assets/acceptIconGreen.png">
                <img src="../../../assets/rejectRedIcon.png">
            </div> -->
        </div>
    </div>
</div>

<div id="friendTimeline">
    <!-- <div>
        <span>selected friend timeline preview here ...</span>
    </div> -->


    <div id="timeline-div">
        <div id="timeline-header">
            <img class="timeline-img" src="../../../assets/dummyTitleImg.png">
            <div class="timeline-profilepic-div">
                <img class="timeline-profilepic" src="../../../assets/noProfile.png">
                <span class="timeline-username">Ammar Khan</span>
            </div>
    
            <div id="borderBottom"></div>
    
            <div class="timeline-options">
                    <nav class="timeline-options_web">
                        <a>Timeline</a>
                        <a>About</a>
                        <a>Friends</a>
                        <a>Photos</a>
                        <a>
                            <select id="timeline-other-options">
                                <option value="archive">Archive</option>
                                <option value="archive">Videos</option>
                                <option value="archive">Questionaires</option>
                            </select>
                        </a>
                    </nav>
            </div>
        </div>
    
        <div class="timeline-body">
            <h4>MY POSTS HERE</h4>
        </div>
    </div>




</div>