<div id="timeline-div">
    <div id="timeline-header">
        <img class="timeline-img" src="assets/dummyTitleImg.png">
        
        <div class="timeline-profilepic-div">
            <img class="timeline-profilepic" src="assets/noProfile.png">
            <span class="timeline-username">Ammar Khan</span>
            <span class="timeline-addbio">Add Bio</span>
        </div>
      
        <div id="borderBottom"></div>

        <div class="timeline-options">
            <div class="timeline-left-options">
                <nav class="timeline-options_web">
                    <a>Timeline</a>
                    <a>About</a>
                    <a>Friends</a>
                    <a>Photos</a>
                    <a>
                        <select id="timeline-other-options">
                            <option value="archive">Archive</option>
                            <option value="archive">Videos</option>
                            <option value="archive">Questionaires</option>
                        </select>
                    </a>
                </nav>

                <nav class="timeline-options_mobile">
                        <select id="timeline-other-options">
                            <option value="timeline">Timeline</option>
                            <option value="about">About</option>
                            <option value="friends">Friends</option>
                            <option value="photos">Photos</option>
                            <option value="archive">Archive</option>
                            <option value="archive">Videos</option>
                            <option value="archive">Questionaires</option>
                        </select>
                </nav>
            </div>

            <div class="timeline-right-options">
                <div class="timeline-editProfile">
                    <button type="button">Edit Profile</button>
                    <img src="assets/editpencil.png">
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-body">
        <div class="timeline-body-left">
            <div class="timeline-body-intro">
                <p>INTRO</p>
                <button>Edit Details</button>
                <button>Add Details</button>
                <button>Edit Featured</button>
            </div>

            <div class="timeline-body-photos">
                <p>PHOTOS</p>
                <div class="timeline-photos">
                    <div style="background-color: #cad6d6;">photo1</div>
                    <div style="background-color: #bbc7c7;">photo2</div>
                    <div style="background-color: #bdc0c0;">photo3</div>
                    <div style="background-color: #858888;">photo4</div>
                    <div style="background-color: #555858;">photo5</div>
                </div>
            </div>

            <div class="timeline-body-friends">
                <p>FRIENDS</p>
                <div class="timeline-friends">
                    <div style="background-color: #cad6d6; grid-area: friendsCol1;">friend1</div>
                    <div style="background-color: #bbc7c7;">friend2</div>
                    <div style="background-color: #bdc0c0;">friend3</div>
                    <div style="background-color: #858888;">friend4</div>
                    <div style="background-color: #555858;">friend5</div>
                </div>
            </div>

            <div class="timeline-body-events">
                <p>EVENTS</p>
                <div class="timeline-events">
                    <div style="background-color: #cad6d6; grid-column-start: 1; grid-column-end: 3;">event1</div>
                    <div style="background-color: #bbc7c7; grid-row-start: 2; grid-row-end: 4; grid-column-start: 1;">event2</div>
                    <div style="background-color: #bdc0c0; grid-row-start: 2; grid-row-end: 4; grid-column-start: 2;">event3</div>
                </div>
            </div>

            <div class="timeline-body-videos">
                <p>VIDEOS</p>
                <div class="timeline-videos">
                    <div style="background-color: #cad6d6; grid-column: col-start 1 / col-end 3;">video1</div>
                    <div style="background-color: #bbc7c7; grid-column: col-start 1 / col-end 3;">video2</div>
                    <div style="background-color: #bdc0c0; grid-column: col-start 1 / col-end 3;">video3</div>
                </div>
            </div>
        </div>

        <!-- ////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

        <div class="timeline-body-right">
            MY POSTS HERE
        </div>

    </div>

</div>