<aside>
    <div class="contact_header-div">
        <span>Contacts</span>
    </div>

    <div id="searchInput">
        <input class="form-control" type="text" placeholder="Search..." name="search">
        <img class="search_img" src="../../assets/searchIcon.png">
    </div>


    <ul class="rightside-ul">
        <li>
            <img class="user_img" src="../../assets/noProfile.png">
            <div>
                <p class="chat_username">ammar</p>
                <p class="chat_lastmsg">hi, im here</p>
            </div>
        </li>
      
        <li>
            <img class="user_img" src="../../assets/noProfile.png">
            <div>
                <p class="chat_username">khan</p>
                <p class="chat_lastmsg">hi, im here</p>
            </div>
        </li>
    
        <li>
            <img class="user_img" src="../../assets/noProfile.png">
            <div>
                <p class="chat_username">malik</p>
                <p class="chat_lastmsg">hi, im here</p>
            </div>
        </li>
      
        <li>
            <img class="user_img" src="../../assets/noProfile.png">
            <div>
                <p class="chat_username">thakur</p>
                <p class="chat_lastmsg">hi, im here</p>
            </div>
        </li>
        
        <li>
            <img class="user_img" src="../../assets/noProfile.png">
            <div>
                <p class="chat_username">tatanka</p>
                <p class="chat_lastmsg">hi, im here</p>
            </div>
        </li>
       
        <li>
            <img class="user_img" src="../../assets/noProfile.png">
            <div>
                <p class="chat_username">saghir</p>
                <p class="chat_lastmsg">hi, im here</p>
            </div>
        </li>  
    </ul>

    <p class="rightside_footer">
        Add contact
    </p>
</aside>

<div id="chatIcon">
  <img src="../../assets/chaticon.png">
</div>