<app-leftpanel> </app-leftpanel>

<div id="questionair-main-div">
  <div id="questionair-title-img">
    <div>
      <img class="title-img" src="assets/dummyTitleImg1.png">
      <img class="upload-title-img" src="assets/uploadfile1.png">
    </div>
    

  </div>

  <div id="questionair-creator-desktop">
    <img src="assets/questionair/addIcon.png">
    <div id="borderLineBottom"></div>
    <img src="assets/questionair/color.png">
    <img src="assets/questionair/favourite.png">
    <img src="assets/questionair/moveto.png">
    <img src="assets/questionair/preview.png">
    <img src="assets/questionair/settings.png">
    <div id="borderLineBottom"></div>
    <img src="assets/questionair/submit.png">
  </div>

  <div id="questionair-box">
    <div class="questionair-input">
      <input type="text" placeholder="Question">
      <select id="questionair-optionSelect">
        <option value="textfield">textfield</option>
        <option value="textarea">textarea</option>
        <option value="date">date</option>
        <option value="image">image</option>
        <option value="time">time</option>
        <option value="checkbox">checkbox</option>
      </select>
      <img class="questionair-addIcon" src="assets/questionair/addIcon.png">
    </div>

    <div class="questionair-option">
      <div>
        <label>1</label> <input type="text"> <img src="assets/minus.png">
      </div>
      <div>
        <label>2</label> <input type="text"> <img src="assets/minus.png">
      </div>
      <div>
        <label>3</label> <input type="text"> <img src="assets/minus.png">
      </div>
    </div>

    <div class="questionair-footer">
      <img class="questionair-footer_duplicate" src="assets/duplicate.png">
      <img class="questionair-footer_deletebin" src="assets/deleteBin.png">
    </div>
  </div>

  <!-- <div id="questionair-box">
    <div class="questionair-input">
      <input type="text" placeholder="Question">
      <select id="questionair-optionSelect">
        <option value="textfield">textfield</option>
        <option value="textarea">textarea</option>
        <option value="date">date</option>
        <option value="image">image</option>
        <option value="time">time</option>
        <option value="checkbox">checkbox</option>
      </select>
      <img class="questionair-addIcon" src="assets/addIcon.png">
    </div>
  
    <div class="questionair-option">
      <div>
        <label>1</label> <input type="checkbox"> <img src="assets/minus.png">
      </div>
    </div>
  
    <div class="questionair-footer">
      <img class="questionair-footer_duplicate" src="assets/duplicate.png">
      <img class="questionair-footer_deletebin" src="assets/deleteBin.png">
    </div>
  </div> -->
</div>


<div id="questionair-creator-mobile">
  <img src="assets/questionair/addIcon.png">
  <div id="borderLineRight"></div>
  <img src="assets/questionair/color.png">
  <img src="assets/questionair/favourite.png">
  <img src="assets/questionair/moveto.png">
  <img src="assets/questionair/preview.png">
  <img src="assets/questionair/settings.png">
  <div id="borderLineRight"></div>
  <img src="assets/questionair/submit.png">
</div>

<!-- <app-rightpanel> </app-rightpanel>  -->

<!-- <span style="display:inline-block; margin: 23% 33%; width: 40%;">
  <img style="width: 15%;" src="assets/noProfile.png">
  <input style="width: 85%;" type="text">
</span>-->