<div id="groupList-mainDiv">
    <h5>Groups</h5>
    <div class="groupList-header">
        <img src="assets/searchIcon.png">
        <input type="text" class="searchFriend" placeholder="Search groups">
    </div>

    <div class="borderBtm"></div>

    <div class="createNew-group">
        <button>Create New Group</button>
    </div>

    <div class="borderBtm"></div>

    <div class="group-list">
        <h5>Your Groups</h5>

        <div class="group">
            <img src="assets/g1.jpg">
            <p>Gamers Republic</p>
            <div class="groupName">
                <span>Private</span>
                <span>Last Active 22h</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g2.jpg">
            <p>Psychos</p>
            <div class="groupName">
                <span>Public</span>
                <span>Last Active 5h</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g3.jpg">
            <p>Slender Group</p>
            <div class="groupName">
                <span>Private</span>
                <span>Last Active 2d</span>
            </div>
        </div>


        <div class="group">
            <img src="assets/g1.jpg">
            <p>Gamers Republic</p>
            <div class="groupName">
                <span>Private</span>
                <span>Last Active 22h</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g2.jpg">
            <p>Psychos</p>
            <div class="groupName">
                <span>Public</span>
                <span>Last Active 5h</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g3.jpg">
            <p>Slender Group</p>
            <div class="groupName">
                <span>Private</span>
                <span>Last Active 2d</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g1.jpg">
            <p>Gamers Republic</p>
            <div class="groupName">
                <span>Private</span>
                <span>Last Active 22h</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g2.jpg">
            <p>Psychos</p>
            <div class="groupName">
                <span>Public</span>
                <span>Last Active 5h</span>
            </div>
        </div>

        <div class="group">
            <img src="assets/g3.jpg">
            <p>Slender Group</p>
            <div class="groupName">
                <span>Private</span>
                <span>Last Active 2d</span>
            </div>
        </div>
    </div>
</div>
