<div id="groupDetail">

  <div id="groupDetails-header-gridDiv">

    <div class="groupDetails-header-mainDiv">
      <div>
        <img class="groupDetails-header-pic" src="../../../assets/timelineSample.jpg">
        <div class="groupDetail-header-about">
          <p>Group by Unity 3D Group</p>
        </div>
      </div>
    </div>

    <div class="groupDetails-title-mainDiv">
      <h4>UNITY3D Developers</h4>
      <div class="groupDetails-title-info">
        <span>
          Public Group
        </span>
        <span>
          65.5K members
        </span>
      </div>
    </div>

    <div class="groupDetails-invite-mainDiv">
      <div class="groupDetails-invite-friends">
        <img src="../../../assets/noProfile.png">
        <img style="border-radius: 50%;" src="../../../assets/g1.jpg">
        <img src="../../../assets/noProfile.png">
        <img style="border-radius: 50%;" src="../../../assets/g2.jpg">
        <img src="../../../assets/noProfile.png">
        <img style="border-radius: 50%;" src="../../../assets/g3.jpg">
        <img src="../../../assets/noProfile.png">
      </div>
      <div class="groupDetails-inviteBtn">
        <button>Invite</button>
        <img src="../../../assets/add-user.png">
      </div>
    </div>

    <div class="groupDetails-options-mainDiv">
        <div class="borderOptionTop"></div>
        <div class="groupDetails-options">
          <div class="groupOptions-desktop">
            <a href="">About</a>
            <a href="">Discussion</a>
            <a href="">Announcements</a>
            <a href="">Members</a>
            <a href="">Events</a>
            <a href="">Media</a>
            <a href="">Files</a>
          </div>

          <div class="groupOptions-mobile">
            <select>
              <option value="" selected disabled hidden>Group Settings</option>
              <option value="about">About</option>
              <option value="discussion">Discussion</option>
              <option value="announcements">Announcements</option>
              <option value="members">Members</option>
              <option value="events">Events</option>
              <option value="media">Media</option>
              <option value="diles">Files</option>
            </select>
          </div>
          
          <div class="groupDetails-settings">
            <img src="../../../assets/settings.png">
          </div> 
        </div>
    </div>

  </div>

</div>
<!-- ************************** GRID ENDS **************************** -->

<div id="groupDetails-body">
    <div class="groupDetails-leftDiv">
      <div class="groupDetails-leftDiv-postbox">
        <img src="../../../assets/noProfile.png">
        <input type="text" placeholder="What's on your mind?">
      </div>

      <div class="groupDetails-leftDiv-postOptions">
         <div class="groupDetails-leftDiv-photoVideo">
           <img src="../../../assets/photoVideo.png">
           <span>
             <span>Photo</span><span class="postOptions-videoTxt">/Video</span>
            </span>
         </div>
         <div class="groupDetails-leftDiv-tagPeople">
           <img src="../../../assets/tagFriend.png"><span>Tag People</span>
         </div>
         <div class="groupDetails-leftDiv-Feeling">
           <img src="../../../assets/feeling.png">
           <span>
             <span>Feeling</span><span class="postOptions-activityTxt">/Activity</span>
            </span>
         </div>
      </div>
     
    </div>

    <div class="groupDetails-rightDiv">
       <div class="groupDetails-rightDiv-about">
        <h5>About</h5>
         <p>
          This group is about nothing because it has nothing to do so we created this group to do nothing.
         </p>
       </div>

       <div class="groupDetails-rightDiv-public">
         <h6>Public</h6>
         <p>Anyone can see this group</p>
       </div>

       <div class="groupDetails-rightDiv-visible">
        <h6>Visible</h6>
        <p>Anyone can find this group</p>
       </div>

       <div class="groupDetails-rightDiv-location">
        <h6>Sleepy Hallow, Silent Hill</h6>
       </div>

    </div>
</div>