<aside>
  <ul class="leftside-ul">
    <div class="user_img-div">
      <img class="user_img" src="assets/noProfile.png">
    </div>
    <div class="ul_main-div-desktop">
      <li>
        <!-- <i class="fa fa-clipboard"></i> -->
        <a routerLink="/homepage/questionair">My Questionair</a>
      </li>
      <li>
        <!-- <i class="fa fa-envelope"></i> -->
        <a title="">Messages</a>
      </li>
      <li>
        <!-- <i class="fa fa-image"></i> -->
        <a routerLink="/homepage/friends-suggestions">Friends</a>
      </li>
      <li>
        <!-- <i class="fa fa-save"></i> -->
        <a title="">Saved Posts</a>
      </li>
      <li>
        <!-- <i class="fa fa-users"></i> -->
        <a routerLink="/groups/mygroups">My Groups</a>
      </li>
      <li>
        <!-- <i class="fa fa-file"></i> -->
        <a>My pages</a>
      </li>
      <li>
        <!-- <i class="fa fa-rss-square"></i> -->
        <a title="">Blog</a>
      </li>
    </div>

    <div class="ul_main-div-mobile">
      <li>
        <img  routerLink="/homepage/questionair" src="assets/leftsidebar/document.png">
      </li>
      <li>
        <img routerLink="/homepage/friends-suggestions" src="assets/leftsidebar/friend.png">
      </li>
      <li>
        <img routerLink="/groups/mygroups" src="assets/leftsidebar/groups.png">
      </li>
      <li>
        <img src="assets/leftsidebar/messages.png">
      </li>
      <li>
        <img src="assets/leftsidebar/posts.png">
      </li>
      <li>
        <img src="assets/leftsidebar/bookmark.png">
      </li>
    </div>
  
    <div id="chatIcon">
      <img src="assets/chaticon.png">
    </div>
  </ul>
</aside>